.footer
{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 65px;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    padding: 20px;

    &__left
    {
      flex: 0.3;
    }
    &__center
    {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

}
&__right
{
    flex: 0.3;
}
}